# Environment Variables
# LEGIFRANCE keys are no longer used (Scraping CDTN)
# LEGIFRANCE_CLIENT_ID=your_client_id
# LEGIFRANCE_CLIENT_SECRET=your_client_secret

WAQI_TOKEN=your_waqi_token

# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=qhse_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
