# Data Collection & Processing
requests
pandas
python-dotenv
beautifulsoup4

# API & Server
fastapi
uvicorn
python-multipart
pydantic
pydantic-settings

# Frontend
streamlit
watchdog
extra-streamlit-components

# Database
sqlalchemy
psycopg2-binary

# Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Monitoring
prometheus-client
prometheus-fastapi-instrumentator
loguru

# Testing
pytest

evidently
schedule

# RAG & AI
langchain==0.2.6
langchain-community==0.2.6
langchain-openai==0.1.9
langchain-huggingface==0.0.3
faiss-cpu
sentence-transformers
pypdf
